<template>
    <f7-page data-page="login">
        <f7-navbar class="selfNavbar" theme="lightblue">
            <div class="selfInnerNavbar">Welcome To CE</div>
        </f7-navbar>
        <f7-block-title>Login Form</f7-block-title>
        <f7-block style="height: 100%;">
            <f7-list form class="ajax-submit">
                <f7-list-item>
                    <f7-icon slot="media" f7="person"></f7-icon>
                    <f7-input type="text" name="username" placeholder="Username" :value="user.username" @input="user.username = $event.target.value" />
                </f7-list-item>
                <f7-list-item>
                    <f7-icon slot="media" f7="lock"></f7-icon>
                    <f7-input type="password" name="password" placeholder="Password" :value="user.password" @input="user.password = $event.target.value" />
                </f7-list-item><br /><br />
                <f7-buttons>
                    <f7-preloader color="white"></f7-preloader>
                    <f7-button type="submit" button active @click="doLogin" >Sign In</f7-button>
                </f7-buttons><br />
                <f7-row>
                    <f7-col width="100" tablet-width="100">
                        <div>Not a member?</div>
                    </f7-col>
                </f7-row>
                <f7-row>
                    <f7-col width="50" tablet-width="50">
                        <f7-button button fill raised color="orange" @click="doReg">Join Now</f7-button>
                    </f7-col>
                    <f7-col width="50" tablet-width="50">
                        <f7-button button fill raised color="gray">Forget Password</f7-button>
                    </f7-col>
                </f7-row>
                <br />
            </f7-list>
        </f7-block>
    </f7-page>
</template>

<script>
    import './login.less';
    import {loginApi} from '../../../../api/loginApi';
    import {f7Navbar} from 'framework7-vue';

    export default {
        data(){
            return {
                user: {
                    username: '',
                    password: ''
                }
            };
        },
        methods: {
            doLogin(){
                let self = this;
                console.log('params: ' + this.user.username + "|" + this.user.password);
                self.$f7.preloader.show();
                loginApi.doLogin(this.user).then(function(userData){
                    if(userData){
                        self.$f7.preloader.hide();
                        self.$f7.router.navigate('/home/');
                    }
                });
            },
            doReg(){
                this.$f7.router.navigate('/reg/');
            }
        },
        mounted(){

        },
        components: {
            f7Navbar
        }
    }
</script>
