@base-width: 99.9%;
@center-margin: auto;

.title{
  height: 30%;
  width: @base-width;
  font-weight: 600;
  font-size: 36px;
  margin: @center-margin;
  line-height: 500%;
}
.icons{
  height: 50%;
  line-height: 300%;
  width: @base-width;
  margin: @center-margin;
}
.icons>img{
  height: 30%;
  width: 30%;
  cursor: pointer;
}
.iconSelect{
  background-color: #cfcbd0;
  border: 1px solid #514e52;
}
