<template>
    <f7-page data-page="regFirst">
        <f7-block style="height: 100%;">
            <div style="height: 100%; width: 100%; text-align: center;">
                <div class="title color-pink">I am <span id="selectedGender">{{selectedGenderText}}</span></div>
                <div class="icons">
                    <img @click="selectGender(0)" :class="isBoySelected ? 'iconSelect' : ''" src="../../../images/boy.png" />&nbsp;&nbsp;&nbsp;&nbsp;
                    <img @click="selectGender(1)" :class="isGirlSelected ? 'iconSelect' : ''" src="../../../images/girl.png" />
                </div>
                <f7-row>
                    <f7-col width="50" tablet-width="50">
                        <f7-button button round fill raised color="orange" @click="turnToNext">Next</f7-button>
                    </f7-col>
                    <f7-col width="50" tablet-width="50">
                        <f7-button button round fill raised color="gray" @click="goBack">Back</f7-button>
                    </f7-col>
                </f7-row>
            </div>
        </f7-block>
    </f7-page>
</template>
<script>
    import './reg.less';
    import Const from '../../../util/const';
    import Msg from '../../../util/message';
    import {navigateToHistory} from '../../../util/routerUtil';

    export default {
        data(){
            return {
                genderType: 0,
                isBoySelected: false,
                isGirlSelected: false,
                selectedGenderText: ''
            };
        },
        methods: {
            selectGender(genderType){
                console.log("selectGender genderType: " + genderType);
                this.genderType = genderType;
                if(genderType == Const.BOY_GENDER_TYPE){
                    this.isBoySelected = true;
                    this.isGirlSelected = false;
                    this.selectedGenderText = Const.BOY_GENDER_TEXT;
                }else if(genderType == Const.GIRL_GENDER_TYPE){
                    this.isGirlSelected = true;
                    this.isBoySelected = false;
                    this.selectedGenderText = Const.GIRL_GENDER_TEXT;
                }
            },
            turnToNext(){
                if(!this.isBoySelected && !this.isGirlSelected){
                    this.$f7.dialog.alert(Msg.REGISTER_GENDER_NOT_SELECT, '');
                    return;
                }
                this.$f7router.navigate('/reg2/' + JSON.stringify({gender: this.genderType}));
            },
            goBack(){
                navigateToHistory(this.$f7.router, '/login/');
            }
        },
        mounted(){

        }
    }
</script>
