<template>
    <f7-page data-page="regSecond">
        <f7-block-title>Register To CE</f7-block-title>
        <f7-block style="height: 100%;">
            <f7-list form>
                <f7-list-item>
                    <f7-icon slot="media" f7="person"></f7-icon>
                    <f7-input type="text" placeholder="username" :value="user.username" @input="user.username = $event.target.value"/>
                </f7-list-item>
                <f7-list-item>
                    <f7-icon slot="media" f7="lock"></f7-icon>
                    <f7-input type="password" placeholder="password" :value="user.password" @input="user.password = $event.target.value"/>
                </f7-list-item>
                <f7-list-item>
                    <f7-icon slot="media" f7="document_text"></f7-icon>
                    <f7-input type="text" placeholder="nickname" :value="user.nickname" @input="user.nickname = $event.target.value" />
                </f7-list-item>
                <f7-list-item>
                    <f7-icon slot="media" f7="phone_round"></f7-icon>
                    <f7-input type="text" placeholder="mobile" :value="user.mobile" @input="user.mobile  = $event.target.value" />
                </f7-list-item>
                <f7-list-item>
                    <f7-icon slot="media" f7="email"></f7-icon>
                    <f7-input type="text" placeholder="email" :value="user.email" @input="user.email = $event.target.value" />
                </f7-list-item>
                <br />
                <f7-row>
                    <f7-col width="50" tablet-width="50"><f7-button button fill raised @click="doReg">Sign Up</f7-button></f7-col>
                    <f7-col width="50" tablet-width="50"><f7-button button fill raised color="gray" @click="doBack">Back</f7-button></f7-col>
                </f7-row>
            </f7-list>
        </f7-block>
    </f7-page>
</template>

<script>
    import './reg_second.less';
    import {regApi} from '../../../../api/regApi';
    import {loginApi} from '../../../../api/loginApi';
    import Msg from '../../../util/message';
    import {RES_SUCCESS} from '../../../util/const';
    import {navigateToHistory} from '../../../util/routerUtil';

    export default {
        data(){
            return {
                user: {
                    username: '',
                    password: '',
                    gender: 0,
                    nickname: '',
                    mobile: '',
                    email: ''
                }
            };
        },
        methods: {
            init(){
                let queryParam = JSON.parse(this.$f7route.params.options);
                this.user.gender = queryParam.gender;
            },
            doReg(){
                let self = this;
                self.$f7.preloader.show();
                regApi.doReg(this.user).then(function(res){
                    console.log("res: " + (res.code == RES_SUCCESS));
                    if(res.code == RES_SUCCESS){
                        self.$f7.preloader.hide();
                        navigateToHistory(self.$f7.router, '/login/');
                    }else{
                        self.$f7.dialog.alert(Msg.REGISTER_FAIL);
                    }
                });
            },
            doBack(){
                navigateToHistory(this.$f7.router, '/reg/');
            }
        },
        mounted(){
            this.init();
        }
    }
</script>
