<template>
    <f7-page toolbar-fixed no-toolbar data-page="home">
        <f7-navbar class="selfNavbar">
            <!--div class="selfInnerNavbar">
                <img class="headIcon" v-if="userInfo.gender == 0" src="../../../images/boy_default.png" />
                <img class="headIcon" v-else src="../../../images/girl_default.png" />&nbsp;
                <span>{{userInfo.name}}</span>
            </div-->
        </f7-navbar>
        <f7-block>
            <div class="row">
                <f7-col width="10">
                    <f7-button button round active color="gray">Test</f7-button>
                </f7-col>
            </div><br />
            <div class="row">
                <f7-col width="50">
                    <f7-button button round active color="blue">Punch In</f7-button>
                </f7-col>
                <f7-col width="50">
                    <f7-button button round active color="green">Taste</f7-button>
                </f7-col>
            </div>
            <f7-card>
                <f7-card-header class="no-border" theme="gray">Daily Achievements</f7-card-header>
                <f7-card-content inner>
                    <div class="row">
                        <f7-col width="50">
                            <div class="chip">
                                <div class="chip-media icon f7-icons bg-lightblue">social_facebook</div>
                                <div class="chip-label">Words</div>
                            </div>
                        </f7-col>
                        <f7-col width="50">
                            <div class="chip">
                                <div class="chip-media icon f7-icons bg-lightpink">radio</div>
                                <div class="chip-label">Listening</div>
                            </div>
                        </f7-col>
                    </div>
                    <div class="row">
                        <f7-col width="50">
                            <div class="chip">
                                <div class="chip-media icon f7-icons bg-lightyellow">book</div>
                                <div class="chip-label">Reading</div>
                            </div>
                        </f7-col>
                    </div>
                </f7-card-content>
            </f7-card>
            <f7-card>
                <f7-card-header>My Level</f7-card-header>
                <f7-card-content>
                    <div class="list">
                        <ul>
                            <li>
                                <div class="item-content">
                                    <div class="item-media icon f7-icons">social_facebook</div>
                                    <div class="item-inner">
                                        <div class="item-title">Words</div>
                                        <div class="item-after">2000 words</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media icon f7-icons">radio</div>
                                    <div class="item-inner">
                                        <div class="item-title">Listening</div>
                                        <div class="item-after">2000 lessons</div>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="item-content">
                                    <div class="item-media icon f7-icons">book</div>
                                    <div class="item-inner">
                                        <div class="item-title">Reading</div>
                                        <div class="item-after">2000 articles</div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </f7-card-content>
            </f7-card>
            <f7-card>
                <f7-card-header>Start Learning</f7-card-header>
                <f7-card-content>
                    <div class="row">
                        <f7-col><f7-button round active color="lightblue" style="font-size: 15px;">Text Book</f7-button></f7-col>
                        <f7-col><f7-button round active color="pink" style="font-size: 15px;">Words</f7-button></f7-col>
                    </div><br />
                    <div class="row">
                        <f7-col><f7-button round active color="green" style="font-size: 15px;">Reading</f7-button></f7-col>
                        <f7-col><f7-button round active color="blue" style="font-size: 15px;">Listening</f7-button></f7-col>
                    </div>
                </f7-card-content>
            </f7-card>
        </f7-block>
        <f7-toolbar class="toolbar-bottom-md" tabbar labels>
            <f7-link>
                <f7-icon f7="home" class="inactive"></f7-icon>
                <f7-icon f7="home_fill" class="active"></f7-icon>
                <span>Homepage</span>
            </f7-link>
            <f7-link>
                <f7-icon f7="social_twitter" class="inactive">
                    <f7-badge color="red">2</f7-badge>
                </f7-icon>
                <f7-icon f7="social_twitter_fill" class="active">
                    <f7-badge color="red">2</f7-badge>
                </f7-icon>
                <span>Discovery</span>
            </f7-link>
            <f7-link>
                <f7-icon f7="person" class="inactive"></f7-icon>
                <f7-icon f7="person" class="active"></f7-icon>
                <span>Me</span>
            </f7-link>
            <f7-link>
                <f7-icon f7="heart" class="inactive">
                    <f7-badge color="red">1</f7-badge>
                </f7-icon>
                <f7-icon f7="heart" class="active">
                    <f7-badge color="red">1</f7-badge>
                </f7-icon>
                <span>Friends</span>
            </f7-link>
        </f7-toolbar>
    </f7-page>
</template>

<style lang="less">
    .page[data-page="home"]{
    .page-content{
        padding-bottom: 44px;
    }
    .toolbar{
        transform: none;
        transition: 0ms;

        .active-state{
            opacity: 1;
            transition: 0ms;
        }
        a{
            i{
                line-height: 0.3;
            }
            span{
                font-size: 12px;
            }
        }
        a.active{
            i.inactive{
                display: none;
            }
            i.active{
                margin-left: 0;
                color: #007aff;
            }
        }
    }
    .tabbar{
        a:not(.active){
            i.active{
                display: none;
            }
        }
    }
    .toolbar-inner{
        padding-top: 20px;
    }
    .bg-lightblue{
        background: #1cc3ca;
    }
    .bg-lightyellow{
        background: #bec185;
    }
    .bg-lightpink{
        background: #c18bbd;
    }
}
</style>

<script>
    import './home.less';
    import 'framework7-icons';
    import {f7Toolbar, f7Icon} from 'framework7-vue';
    import {sessionStorageApi} from '../../../../api/sessionStorageApi';

    export default {
        data(){
            return {
                userInfo: {}
            }
        },
        methods: {
            init(){
                console.log("init triggered");
               this.userInfo = sessionStorageApi.getLoginUserInfo();
                console.log("userInfo: " + JSON.stringify(this.userInfo));
            }
        },
        mounted(){

        },
        components: {
            f7Toolbar,
            f7Icon
        },
        mounted(){
            this.init();
        }
    }
</script>
