<template>
    <f7-page>
        <f7-block>
            <div style="height: 100%; width: 100%;">
                <img src="../../../images/welcome.jpeg" class="imgWelcome" alt="">
                <div class="bottomPanel">
                    <!-- read database latest words -->
                    <div class="dailyIdiom">It's never too old to learn.</div>
                    <div class="brandName color-pink">For Kids' Rejoice</div>
                </div>
            </div>
        </f7-block>
    </f7-page>
</template>
<script>
    import './welcome.less';

    export default {
        data(){

        },
        methods: {
            turnToNextPage(){
                this.$f7.router.navigate('/login/');
            }
        },
        mounted(){
            setTimeout(this.turnToNextPage, 2000);
        }
    };
</script>
