.imgWelcome{
  width: 99%;
  height: 89.9%;
  margin: auto;
}
.bottomPanel{
  width: 99%;
  height: 10%
}
.dailyIdiom{
  margin-left: 4%;
  font-size: 15px;
  height: 50%
}
.brandName{
  text-align: right;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 5%;
  height: 35%;
  color: #81ca7a;
}
