*{
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
.header{
    height: 59px;
    width: 100%;
}
.header>div{
    float: left;
}
.headIcon{
    height: 40px;
    width: 40px;
    border: 1px solid #a5d3e9;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    margin: 15px 0px 0px 15px;
    background-image: url("../images/default_head_icon.png");
    background-size: 100% 100%;
}
.loginInfo{
    height: 40px;
    margin: 15px 0px 0px 15px;
}
.loginName{
    height: 20px;
    font-size: 13px;
    font-weight: bold;
}
.rewardStars{
    height: 20px;
    font-size: 13px;
}
.rightHeader{
    width: 45%;
    height: 40px;
    margin: 15px 0px 0px 0px;
    #border: 1px solid blue;
}
.rightHeader>div{
    float: left;
    width: 40px;
    height: 100%;
    margin-left: 10px;
}
.rightHeader>div>img{
    height: 80%;
    width: 80%;
}
.advertise{
    width: 90%;
    height: 15%;
    background-image: url("../images/home_advertise.jpeg");
    background-size: 100% 100%;
    #border: 1px solid blue;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 15px;
    text-align: center;
}
.words{
    width: 90%;
    height: 20%;
    border: 1px solid #a4aca5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: auto;
    text-align: center;
    margin-bottom: 15px;
}
.words>.header{
    width: 100%;
    height: 18%;
    font-size: 12px;
    font-weight: bold;
    overflow: hidden;
}
.words>.header>div{
    width: 25%;
    #border: 1px solid green;
    display: block;
}
.words>.header>div:nth-child(1){
    float: left;
    margin: 12px 0px 0px 12px;
}
.words>.header>div:nth-child(2){
    float: right;
    margin: 12px 12px 0px 0px;
}
.books{
    height: 50%;
    width: 100%;
    margin-top: 5%;
}
.books>div{
    height: 80%;
    line-height: 380%;
    width: 18%;
    margin-left: 5%;
    background: url("../images/vocabulary_icon.png");
    background-size: 100% 100%;
    float: left;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}
.textbooks{
    height: 50%;
    width: 100%;
    margin-top: 5%;
}
.textbooks>div{
    height: 80%;
    line-height: 480%;
    width: 18%;
    margin-left: 5%;
    background: url("../images/textbook_icon.png");
    background-size: 100% 100%;
    float: left;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    vertical-align: middle;
    cursor: pointer;
}
.buttons{
    height:25%;
    width: 100%;
    margin: auto;
    text-align: center;
}
.buttons>input{
    background-color: #89e9b9;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    height: 70%;
    width: 30%;
}
.menu{
    height: 12%;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 13%;
}
.menu>div{
    border: 1px solid #818781;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 24.9%;
    float: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 300%;
}

