*{
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1abbff;
}
.main{
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
.header{
    height: 7%;
    width: 100%;
    margin-top: 5%;
}
.header>div{
    float: left;
}
.return{
    height: 100%;
    width: 10%;
    margin-left: 5%;
}
.return>img{
    height: 42%;
    width: 80%;
}
.title{
    height: 100%;
    width: 70%;
    margin: auto;
    margin-left: 3%;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: white;
}
.tabs{
    height: 6.6%;
    width: 100%;
}
.tabs>div{
    height: 100%;
    width: 31%;
    float: left;
    margin-left: 2%;
}
.tabs>div.active{
    border-bottom: 8px solid #e8cf95;
}
.tabs>div>img{
    height: 80%;
    width: 35%;
    float: left;
}
.tabs>div>span{
    height: 100%;
    width: 60%;
    float: left;
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-left: 2%;
}
.list{
    height: 85%;
    width: 100%;
    overflow-y: auto;
}
.list>div{
    width: 100%;
    height: 10%;
    border-bottom: 3px solid #d7d3b3;
}
.list>div>div.words{
    width: 96%;
    height: 50%;
    line-height: 160%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-left: 4%;
}
.list>div>div.translation{
    width: 96%;
    height: 50%;
    line-height: 120%;
    font-size: 40px;
    font-weight: bold;
    color: #c6cac7;
    margin-left: 4%;
}
*{
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1abbff;
}
.main{
    height: 100%;
    width: 100%;
    border: 1px solid red;
}
.header{
    height: 7%;
    width: 100%;
    margin-top: 5%;
}
.header>div{
    float: left;
}
.return{
    height: 100%;
    width: 10%;
    margin-left: 5%;
}
.return>img{
    height: 42%;
    width: 80%;
}
.title{
    height: 100%;
    width: 70%;
    margin: auto;
    margin-left: 3%;
    text-align: center;
    font-size: 60px;
    font-weight: bolder;
    color: white;
}
.tabs{
    height: 6.6%;
    width: 100%;
}
.tabs>div{
    height: 100%;
    width: 47%;
    float: left;
    margin-left: 2%;
}
.tabs>div.active{
    border-bottom: 8px solid #e8cf95;
}
.tabs>div>img{
    height: 90%;
    width: 27%;
    float: left;
}
.tabs>div>span{
    height: 100%;
    width: 60%;
    float: left;
    font-size: 45px;
    font-weight: bold;
    color: white;
    margin-left: 5%;
}
.competitor{
    height: 80%;
    width: 100%;
    margin-top: 10%;
}
.casualty{
    height: 12%;
    width: 95%;
    background-color: #9fcae1;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    vertical-align: middle;
}
.casualty>img{
    float: left;
    height: 70%;
    width: 15%;
    margin-top: 2.6%;
}
.casualty>span{
    float: left;
    height: 100%;
    width:58%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-top: 5%;
    margin-left: 1%;
}
.casualty>input{
    float: left;
    height: 55%;
    width: 23%;
    border-radius: 30px;
    background-color: #58b0e1;
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 1%;
}
.friends{
    height: 88%;
    width: 100%;
    overflow-y: auto;
}
.friends>div{
    float: left;
    height: 12%;
    width: 95%;
    background-color: #9fcae1;
    border-radius: 20px;
    margin: auto;
    text-align: center;
    margin-top: 2%;
    margin-left: 2.5%;
}
.friends>div>img{
    float: left;
    height: 70%;
    width: 15%;
    margin-top: 2.6%;
    margin-left: 1%;
}
.friends>div>span{
    float: left;
    height: 100%;
    width:55%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    margin-top: 7%;
    margin-left: 1%;
    text-align: left;
}
.friends>div>input{
    float: left;
    height: 55%;
    width: 23%;
    border-radius: 30px;
    background-color: #e1663d;
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-top: 5%;
    margin-left: 1%;
}
