*{
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1abbff;
}
.main{
    height: 100%;
    width: 100%;
    border: 1px solid red;
}

.progress{
    height: 2.2%;
    width: 98%;
    line-height: 35px;
    background: #f0ad4e;
    box-shadow: none;
    padding: 6px;
    margin: auto;
    overflow: visible;
    border-radius:20px;
    margin-top: 10%;
    text-align: center;
}
.progress:after{
    content: "";
    display: block;
    border-top: 4px dashed #fff;
    margin-top:8px;
}
.progress .progress-bar{
    position: relative;
    border-radius: 10px 0 0 10px;
    animation: animate-positive 2s;
}
.progress .progress-bar span{
    position: absolute;
    top: -50px;
    right: -40px;
    color: #fff;
    display: block;
    font-size: 35px;
    font-weight: bold;
    padding: 5px 7px;
    background: #333;
    border-radius: 0 0 5px 5px;
}
.progress .progress-bar span:before{
    content: "";
    position: absolute;
    bottom: -14px;
    left: 18px;
    border: 7px solid transparent;
    border-top: 7px solid #333;
}
.progress .progress-bar span:after{
    content: "\f072";
    font-family: fontawesome;
    font-size: 48px;
    color: #333;
    position: absolute;
    top: 51px;
    right: 6px;
    transform: rotateZ(48deg);
}
@-webkit-keyframes animate-positive {
    0% { width: 0%;}
}
@keyframes animate-positive {
    0% { width:0%; }
}

.picture{
    height: 30%;
    width: 100%;
    margin: auto;
    margin-top: 10%;
    text-align: center;
}
.picture>img{
    height: 100%;
    width: 66%;
    border-radius: 33%;
}
.input{
    height: 10%;
    width: 100%;
    margin: auto;
    text-align: center;
}
.input>div{
    float: left;
    border-bottom: 10px solid #c7924f;
    height: 100%;
    width: 20%;
    font-size: 60px;
    font-weight: bold;
    color: white;
    margin-left: 20%;
}
.labels{
    height: 40%;
    width: 100%;
    margin-top: 15%;
}
.labels>div{
    float: left;
    margin: auto;
    margin-left: 2%;
    margin-top: 2%;
    width: 22%;
    height: 10%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    background-color: #c6c7b0;
    text-align: center;
}
