*{
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background-color: #1abbff;
}
.main{
    height: 100%;
    width: 111%;
    #border: 1px solid red;
}

.header{
    height: 100px;
    width: 100%;
    margin-top: 5%;
    margin-left: 5%;
    margin-bottom: 15%;
}
.header>div{
    float: left;
}
.exchangeBook{
    height: 100%;
    width: 12%;
    font-size: 35px;
    color: white;
}
.exchangeBook>img{
    height: 100%;
    width: 80%;
}
.exchangeBook>span{
    margin-left: 1%;
}
.title{
    height: 100%;
    width: 54%;
    font-size: 70px;
    font-weight: bolder;
    color: white;
    margin-left: 17%;
    padding-top: 3%;
}
.stars{
    height: 100%;
    width: 12%;
    font-size: 35px;
    color: white;
}
.stars>img{
    height: 100%;
    width: 80%;
}
.stars>span{
    margin-left: 20%;
}
.progress{
    height: 20%;
    width: 100%;
    margin: auto;
    text-align: center;
}
.proceeding{
    height: 15%;
    width: 80%;
    border-radius: 20px;
    #background-color: white;
    margin: auto;
    text-align: center;
    margin-top: 10%;
    font-size: 50px;
    color: white;
}

.proceeding>div{
    float: left;
    margin-left: 6%;
    height: 100%;
    width: 25%;
    margin-top: 5%;
}

.proceeding>div>img{
    width: 100%;
    height: 60%;
}

.practise{
    height: 10%;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 15%;
}
.practise>input{
    height: 70%;
    width: 50%;
    border-radius: 25px;
    background-color: white;
    color: #4fcaff;
    font-size: 45px;
    font-weight: bold;
}
.buttons{
    width: 100%;
    height: 20%;
}
.buttons>div{
    float: left;
    margin: auto;
    width: 23%;
    height: 60%;
    border-radius: 50%;
    background-color: white;
    box-shadow: 2px 2px 5px #888888;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    margin-left: 8%;
    margin-top: 20%;
}
.buttons>div>img{
    height: 60%;
    width: 60%;
    margin-top: 20%;
}
.btnLabel{
    width: 100%;
    height: 10%;
    font-size: 60px;
    font-weight: bolder;
    color: white;
    margin-top: 15%;
}
.btnLabel>div{
    width: 23%;
    float: left;
    text-align: center;
    margin-left: 8%;
}
.menu{
    height: 12%;
    width: 100%;
    margin: auto;
    text-align: center;
    margin-top: 27%;
}
.menu>div{
    border: 1px solid #818781;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    width: 33.3%;
    float: left;
    font-weight: bold;
    font-size: 50px;
    line-height: 300%;
    color: white;
    
}

